*{
	margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

a{
	color: green;
	text-decoration: none;
}

a:hover{
	color: #80C080;
}

header{
	background-color: green;
	color: white;
	padding: 5%;
}

header h1 {
	font-size: 80px;
	padding: 2%;
	font-family: 'Inconsolata';
}

header h2 {
	font-size: 30px;
}

.intro{
	margin: 6% 10% 3%;
}

.intro p{
	padding-top: 5%;
}

.toc{
	margin: 3% 10% 3%;
}

.toc h2{
	margin: 5%;
	margin-top: 10%;
}

footer{
	margin: 3% 10% 3%;
}